.ui-disabled{
	opacity:1;
}
.rangeOut{
	color:red;
}
#generated{
	display:none;
}
#go,#about{
	//float:right;

}
#level{
	font-size: 45px;
	margin-left:25%;
	color:white;
	width:180px;
	height:50px;
	line-height:50px;
	text-align:center;
	padding-left:20px;
	
	}
.level_1{		background:url("pic/arrow_darkgreen.png");}
.level_2{		background:url("pic/arrow_lightgreen.png");}
.level_3{		background:url("pic/arrow_yellow.png");}
.level_4{		background:url("pic/arrow_orange.png");}
.level_5{		background:url("pic/arrow_red.png");}
.level_6{		background:url("pic/arrow_black.png");}