<!DOCTYPE html> 
<html ng-app>
<head> 
	<title>My Page</title> 

	<link rel="stylesheet" href="jquery.mobile-1.2.0/jquery.mobile-1.2.0.min.css" />
	<link rel="stylesheet" href="style.css" />	
		<script src="angular.min.js"></script>
	<script src="jquery.mobile-1.2.0/jquery-1.8.3.min.js"></script>
	<script src="jquery.mobile-1.2.0/jquery.mobile-1.2.0.min.js"></script>

	
	        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=540px, height=device-height" />

	
</head> 
<body> 

<div data-role="page" data-theme="b" href="#main">
	<div data-role="header" data-theme="d" id="header">
		<h1>Refrigerator Energy Efficiency Calculator</h1>
	</div><!-- /header -->

<div data-role="content" style="padding:10px;">
		<div data-role="collapsible-set" data-theme="b">
			<div data-role="collapsible" data-content-theme="d">
			<h3>Electricity Power Comsumption
			&nbsp;&nbsp;
			<span id="abs_rated"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="abs_measured"></span> </h3>
				<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b">
					<li data-role="fieldcontain">
						<label for="ratedPowerConsumption">Rated(KW·h/24h):</label>
						<input type="number" name="ratedPowerConsumption" id="ratedPowerConsumption" value="" step=0.01 min=0 ng-model="ratedPowerConsumption"/>
					</li>
					<li data-role="fieldcontain">
						<label for="measuredPowerConsumption">Measured(KW·h/24h):</label>
						<input type="number" name="measuredPowerConsumption" id="measuredPowerConsumption" value="" step=0.01 min=0 ng-model="measuredPowerConsumption"/>
					</li>
					<li data-role="fieldcontain">
						<label for="measuredDRated">Rated/Measured:</label>
						<input type="text" name="measuredDRated" id="measuredDRated" value="{{measuredPowerConsumption / ratedPowerConsumption}}" disabled />
					</li>
					<li data-role="fieldcontain">
						<label for="PowerConsumptionLimit">limit:</label>
						<input type="text" name="PowerConsumptionLimit" id="PowerConsumptionLimit" value="{{ratedPowerConsumption * 1.15 }}" disabled />
					</li></ul>
			</div>
			<div data-role="collapsible" data-content-theme="d">
			<h3>Volume
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span id="vol"></span></h3>
					<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b">
					<li data-role="fieldcontain">
						<label for="ratedVolume">Rated(L):</label>					
						<input type="number" name="ratedVolume" id="ratedVolume" value="" min=0 ng-model="ratedVolume"/>
					</li>
				</ul></div>

			<div data-role="collapsible" data-content-theme="d">
			<h3>Climate Type
			&nbsp;&nbsp;
			<span id="clitype"></span></h3>
				<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b">
					
					<li data-role="fieldcontain">
								<fieldset data-role="controlgroup">
									<legend>Climate Type of the Fridge:</legend>
									<form>
									<input type="checkbox" name="checkbox-1a" id="checkbox-1a" class="custom climateAdditional" />
									<label for="checkbox-1a">SN</label>

									<input type="checkbox" name="checkbox-2a" id="checkbox-2a" class="custom climateAdditional" />
									<label for="checkbox-2a">N</label>

									<input type="checkbox" name="checkbox-3a" id="checkbox-3a" class="custom climateAdditional" />
									<label for="checkbox-3a">ST</label>

									<input type="checkbox" name="checkbox-4a" id="checkbox-4a" class="custom climateAdditional" ng-mode="cb" />
									<label for="checkbox-4a">T</label>
									</form>
								</fieldset>
					</li>
					<li data-role="fieldcontain">
						<label for="CC">coefficient (CC):</label>
						<input type="text" name="CC" id="CC" value='' disabled />
					</li>
				</ul></div>
	
						<div data-role="collapsible" data-content-theme="d">
					<h3>冰箱类型&nbsp;&nbsp;&nbsp;
						<span id="abs_m"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="abs_n"></h3>
				<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b">					
					<li data-role="fieldcontain">
						<label for="freezerType" class="select">冷藏箱/冷冻箱类型:</label>
						<select name="freezerType" id="freezerType" data-native-menu="true" data-theme="c">
							<option value="0">无星级室的冷藏箱</option>
							<option value="1">带1星级室的冷藏箱</option>
							<option value="2">带2星级室的冷藏箱</option>
							<option value="3">带3星级室的冷藏箱</option>
							<option value="4">冷藏冷冻箱</option>
							<option value="5">冷冻食品储藏箱</option>
							<option value="6">食品冷冻箱</option>
						</select>
				
					</li>
					
					<li data-role="fieldcontain">
						<label for="M">参数M/(kW·h/L):</label>
						<input type="text" name="M" id="M" value="" disabled />
					</li>
					
					<li data-role="fieldcontain">
						<label for="N">参数N/(kW·h/L):</label>
						<input type="text" name="N" id="N" value="" disabled />
					</li>
				</ul></div>
				
				<div data-role="collapsible" data-content-theme="d">
						<h3>容积修正 
						&nbsp;&nbsp;
						</span><span id="abs_ch"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="abs_sr"></span></h3>
				<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b">					
					<li data-role="fieldcontain">
						<fieldset data-role="controlgroup">
						   <input type="checkbox" name="volume15Check" id="volume15Check" class="custom" data-theme="c"/>
						   <label for="volume15Check" data-native-menu="true">电冰箱内含有15L及以上容积,具有冰温区功能变温室</label>
						</fieldset>
					</li>
					
					<li data-role="fieldcontain">
						<label for="CH">变温室修正系数(kW·h)</label>
						<input type="text" name="CH" id="CH" value="" disabled />
					</li>
					
										<li data-role="fieldcontain">
						<fieldset data-role="controlgroup">
						   <label for="volume100Check">电冰箱容积≤100L,或≥400L,并带有穿透式自动制冰功能</label>						
						   <input type="checkbox" name="volume100Check" id="volume100Check" class="custom" data-theme="c" />
						</fieldset>
					</li>
					
					<li data-role="fieldcontain">
						<label for="Sr">穿透式自动制冰修正系数</label>
						<input type="text" name="Sr" id="Sr" value="" disabled />
					</li>
				</ul></div>
				
				</div>
				<div data-role="collapsible-set" data-theme="e" ng-controller="ChambersControl">
				
					<div data-role="collapsible"  data-content-theme="d" data-collapsed="false" ng-repeat="chamber in chambers">
						<h3>Chamber No.{{chamber.count}} &nbsp;&nbsp;<span class="chamberAbstract">Type:{{chamber.type}}</h3>

							<!--间室列表 -->
							<ul data-role="listview" class="chamberSetting" data-inset="true" data-theme="c" data-dividertheme="d">
								<li data-role="fieldcontain">
									<label>Chamber Type
									<select name="chamberType" class="chamberType" data-native-menu="true" data-theme="c" ng-model="type" class="ct" ng-controller="ChamberTypeControl" >					
										<option ng-repeat="t in chamberType" value="{{t.value}}" >{{t.text}}</option>

									</select></label>
									</li>
								
								<li data-role="fieldcontain">
									<label>Characteristic temperature(℃)
									<input type="text" name="chamberTemperature" class="chamberTemperature" value="" /></label>
									</li>
								
								<li data-role="fieldcontain">
									<label>Weighting coefficients
									<input type="text" name="chamberRatio" class="chamberRatio" value="" disabled /></label>
									</li>
								
								<li data-role="fieldcontain">
									<label>Compartment refrigeration system
									<select name="chamberRFSystem" class="chamberRFSystem" data-native-menu="true" data-theme="c">					
										<option value="1.4">Frost-free F<sub>c</sub> = 1.4</option>
										<option value="1" selected>Direct Cooling F<sub>c</sub> = 1.0</option>
									</select></label>
									</li>
								
								<li data-role="fieldcontain">
									<label>Measured effective volume(L)
									<input type="number" name="chamberMeasuredVolume" class="chamberMeasuredVolume" value="" step=0.01 /></label>
									</li>
								
								<li data-role="fieldcontain">
									<label>Adjusted volume(L)
									<input type="text" name="chamberAdjustedVolume" class="chamberAdjustedVolume" value="" disabled /></label>
									</li>
							</ul>
							<!-- /间室列表-->				
					</div>
					
					
					
					
				</div><!-- end of the collapsible set -->
				
				<div id="generated">
				
				<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="e">
					<li data-role="list-divider" class="listTitle" >参数</li>
					
					<li>
						<label for="Vc" class="select">电冰箱总有效容积V<sub>c</sub>(L)</label>
						<input type="text" name="Vc" id="Vc" value="" disabled />
					</li>
					<li>
						<label for="Vadj" class="select">电冰箱总调整容积V<sub>adj</sub>(L)</label>
						<input type="text" name="Vadj" id="Vadj" value="" disabled />
					</li>
					<li>
						<label for="VPercent" class="select">电冰箱总有效容积应≥额定容积的97%</label>
						<input type="text" name="VPercent" id="VPercent" value="" disabled />
					</li>
					<li>
						<label for="Ebase" class="select">电冰箱基准耗电量E<sub>base</sub>(kW·h/24h):</label>
						<input type="text" name="Ebase" id="Ebase" value="" disabled />
					</li>
					<li>
						<label for="Emax" class="select">电冰箱耗电量限定值E<sub>max</sub>(kW·h/24h):</label>
						<input type="text" name="Emax" id="Emax" value="" disabled />
					</li>
				</ul>
				
				
				<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="e">
					<li data-role="list-divider" class="listTitle" >总评</li>
					
					<li data-role="fieldcontain">
						<label for="ETA" class="select">能效指数η</label>
						<input type="text" name="ETA" id="ETA" value="" disabled />
					</li>
					<li data-role="fieldcontain">
						<div id="level"><span id = "levelno">1</span>级</div>
					</li>
				</ul>
				</div>
			
			<div data-role="controlgroup" style="height:200px;">
			<a href="#" data-role="button" id = "go" data-theme="b" data-icon="refresh"><p id="go_text">计算能效</p></a>
			<a href="#copy_content" data-role="button" id = "copy" data-theme="e" data-icon="grid" style="display:none;" data-rel="dialog"><p>复制结果</p></a>
			<a href="#aboutInfo" data-rel="popup" data-role="button" id = "about" data-theme="c" data-icon="info"><p>关于软件</p></a>
			</div>
			
			
	</div><!-- /content -->
	<div data-role="footer">
		<h1>版权所有 微尘工作室</h1>
	</div>
	
<div data-role="popup" id="aboutInfo"  class="ui-content"  data-position-to="window">
	<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
	<p>设计者及单位:</p>
	<p>程序版本号:</p>
	<p>BUG报告邮箱:</p>
</div>	
<div data-role="popup" id="errorinfo"  class="ui-content"  data-position-to="window">
	<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
	<div id = "errorMsg"></div>
</div>	
</div><!-- /page -->


<script>
$(document).bind("mobileinit", function(){
  $.extend(  $.mobile , {
    defaultDialogTransition: false,
	defaultPageTransition:	false
  });
  $.mobile.buttonMarkup.hoverDelay=0;
  jQuery.fx.off = true;
});

</script>
<script src="Calculation.js"></script>
<div data-role="page" id="copy_content">
<div data-role="content" data-theme="c">
	<p>请在文本框中自行复制:</p>
	<textarea id="copy_area">abc
	def</textarea>
	<a href="#main" data-role="button" data-theme="c" data-icon="back" data-rel="back">返回</a>
	</div>
</div>
</body>
</html>