<?xml version='1.0' encoding='utf-8'?>
<widget id="in.scaret.fridge" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>冰箱能效计算</name>
    <description>
        按照中国冰箱能效计算标准设计的，一款通过手动测量即可确定冰箱能效的APP。
    </description>
    <author email="scaret.in@gmail.com" href="http://scaret.in">
        scaret
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.1.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <!-- Define app icon for each platform. -->
        <icon src="res/logo.png" />
        <icon src="res/icon_57.png"   gap:platform="android"    gap:density="ldpi" />
        <icon src="res/icon_100.png"   gap:platform="android"    gap:density="mdpi" />
        <icon src="res/icon_120.png"   gap:platform="android"    gap:density="hdpi" />
        <icon src="res/icon_144.png"  gap:platform="android"    gap:density="xhdpi" />
        <icon src="res/icon_100.png"     gap:platform="blackberry" />
        <icon src="res/icon_100.png"     gap:platform="blackberry" gap:state="hover"/>
        <icon src="res/icon_50.png"            gap:platform="ios"        width="50" height="50" />
        <icon src="res/icon_57.png"            gap:platform="ios"        width="57" height="57" />
        <icon src="res/icon_100.png"            gap:platform="ios"        width="100" height="100" />
        <icon src="res/icon_114.png"            gap:platform="ios"        width="114" height="114" />
        <icon src="res/icon_120.png"            gap:platform="ios"        width="120" height="120" />
        <icon src="res/icon_144.png"            gap:platform="ios"        width="144" height="144" />
        <icon src="res/icon_152.png"            gap:platform="ios"        width="152" height="152" />

        <icon src="res/icon_57.png"          gap:platform="webos" />
        <icon src="res/icon_57.png"  gap:platform="winphone" />
        <icon src="res/icon_57.png" gap:platform="winphone"   gap:role="background" />

    <gap:splash src="pic/loader.png" />
     <!-- Define app splash screen for each platform. -->
        <gap:splash src="pic/loader.png"  gap:platform="android" gap:density="ldpi" />
        <gap:splash src="pic/loader.png"  gap:platform="android" gap:density="mdpi" />
        <gap:splash src="pic/loader.png"  gap:platform="android" gap:density="hdpi" />
        <gap:splash src="pic/loader.png" gap:platform="android" gap:density="xhdpi" />
        <gap:splash src="pic/loader.png"         gap:platform="blackberry" />
        <gap:splash src="pic/loader.png"    gap:platform="ios"     width="640" height="960" />
        <gap:splash src="pic/loader.png" gap:platform="winphone" />

    <access origin="*" />
    <content src="index.html" />
</widget>
